<div class="docLogin">

    <h1 id="docLoginHeader">Welcome Patient!</h1>
    <form action="/patient-login" class="form" method="POST">
        <input type="text" name="username" placeholder="Enter a Username">
        <input type="password" name="password" placeholder="Enter a Password">
        <button type="submit">Login</button>
    </form>
    
</div>
