<div class="content-wrapper">
    <div class="img-container">
        <img src="https://www.itij.com/sites/itij/files/styles/full_size_view/public/2020-07/middle-east-welcome-its-first-digital-hospital.jpg?h=13b6df57&itok=zYtjxMVi" 
             alt="Description of Image" 
             class="landing-image">
    </div>
    
    <div class="landing">
        <h1 id="home_header">Welcome to Doc.Ument</h1>
        <div class="button-wrapper"> 
            <a href="/login">
                <button class="homebtn">Doctor Login</button>
            </a>

            <a href="/signup">
                <button class="homebtn">Doctor Signup</button>
            </a>

            <hr id="homehr"></hr>
            
            <a href="/ptlogin-form">
                <button class="homebtn">Patient Login</button>
            </a>

            <a href="/ptsignup">
                <button class="homebtn">Patient Signup</button>
            </a>
        </div>
    </div>
</div>


