/*HOME PAGE */
.content-wrapper {
    background-color: #8fdbde;
}


/* HOMEPAGE BTN */

.homebtn {
    background: linear-gradient(to right, #1a8cfe, #a0c4ed); 
    border: none; 
    color: #fff; 
    padding: 10px 25px; 
    border-radius: 25px; 
    font-weight: 600; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    font-family: 'Arial', sans-serif; 
}

.homebtn:hover {
    background: linear-gradient(to right, #a0c4ed, #1a8cfe);
    box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}

.homebtn:focus {
    outline: none; 
}

.homehr {
    width: 80%; 
    border: 0; 
    height: 1px;
    background: #464646; 
    margin: 20px auto; 
}

#home_header {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;  
}
    

.content-wrapper {
    display: flex;            
    height: 100vh;            
    background: white;        
    border-radius: 20px;
}

.landing {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8fdbde;
}

.img-container {
    flex: 1.5;                  
    display: flex;            
    justify-content: center;  
    align-items: center;      
    background-color: #8fdbde;
}

.landing-image {
    width: 80%; 
    max-width: 1000px; 
}


.landing .button-wrapper {
    text-align: center; 
    padding: 70px 0;    
}



.landing a {
    display: inline-block;
    margin-right: 10px;
}

/* DOCTOR LOGIN */

.docLogin {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    color: white;
}

#docLoginHeader {
    font-size: 2em; 
    margin-bottom: 20px; 
    color: rgb(12, 61, 239);
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.form input, .form button {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px; 
    box-sizing: border-box;
}

.form button {
    background-color: #007BFF;
    color: #FFF;
    cursor: pointer;
    border: none;
}


.form button:hover {
    background-color: #0056b3; 
}

/* DOC DASHBOARD */
#docDashboard {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.freepik.com/premium-photo/top-view-assortment-medical-supplies-apple_23-2148439080.jpg?w=740');
    background-size: cover;
    background-position: center;
}
.docDashHeader {
    margin-bottom: 20px;
    font-size: 2em;
    font-family: Roboto;
    color: white;
}

.buttons-container {
    display: flex;
    gap: 20px;
}

.buttons-container a {
    text-decoration: none;
}

.buttons-container a button {
    border: none;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 1.2em;
}

/* PT LIST PAGE */
#ptlistHeader {
    color: white;
    text-align: center;
    font-family: Roboto;
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin: 20px 0; 
}

.tableTitle {
    color: white;
    font-family: Roboto;
}


thead th {
    background-color: #71b3e6; 
    padding: 10px; 
    border: 1px solid #ddd; 
    text-align: left; 
}

tbody td {
    padding: 8px; 
    border: 1px solid #ddd; 
}


tbody tr:hover {
    background-color: #f5f5f5; 
}
.table-container {
    overflow-x: auto; 
}

.ptlistbtns {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.ptlistbtn button {
    padding: 8px 12px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #007BFF; 
    color: #FFF;               
    border-radius: 5px;      
    transition: background-color 0.3s; 
    outline: none;             
}

.ptlistbtn button:hover {
    background-color: #0056b3; 
}




/* PT VIEW */
.ptviewBody {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    width: 100%; 
    font-size: 25px;
}

.ptviewBody div {
    margin-bottom: 20px;
}

.ptviewBody h1 {
    margin-bottom: 30px;
}

.ptviewBigBody {
    background-image: url('https://img.freepik.com/premium-vector/technology-connection-digital-data-white-background_32996-546.jpg?w=2000');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #65b0bf;
    text-align: center;
    color: #65b0bf;  
    height: 100vh; 
}
/* PT CR8 */
newptbody {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4;     
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


newform {
    background-color: #fff;  
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 60%;              
    max-width: 500px;       
    display: flex;
    flex-direction: column; 
    gap: 10px;              
}

label {
    margin-bottom: 5px;      
    font-weight: bold;       
}

input[type="text"],
input[type="date"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;            
}

input[type="checkbox"] {
    margin-right: 10px;      
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #FFF;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#newptbtn {
    margin-top: 20px;
}

.buttons-container {
    display: flex;
    gap: 20px;
}

.buttons-container a {
    text-decoration: none;
}

.buttons-container button {
    border: none;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 1.2em;
    background-color: #007BFF;
    color: #FFF;
    border-radius: 5px;
}

.buttons-container button:hover {
    background-color: #0056b3;
}
